/* variables */
:root{
    --primary: #60efbc;
    --secondary: #58d5c9;
}

/* base styles */
html {
    font-size: 16px;
}

a   {
    text-decoration: none;
    color: inherit;
}

.mark-read-bg{
    background: rgb(0,0,0);
    background: linear-gradient(142deg, rgba(0,0,0,1) 3%, rgba(91,90,90,1) 68%, rgba(134,133,133,1) 89%);
}

#hambgmenu{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: white;
}

.close-hambg{
margin-bottom: 10px;
    height: 2rem;
    cursor: pointer;
}

/* fonts */
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: bold;
}

.hambg-login{
    font-family: Roboto-Bold;
    font-size: 1.5rem;
}
.header-container{
    font-family: Roboto-Bold;
    background-color: white;
}

.main-header{
    font-size: 2rem;
}

.mark-read{
    font-family: Roboto-Bold;
    color: white;
}

.footer{
    font-family: Roboto-Bold;
    color: #58d5c9;
}
#add-book-container{
    font-family: Roboto;
}

/* mobile styles */
.main-container{
    height: 100vh;
    width: 100%;
    background-image: url(../images/mainbglight.jpg);
    background-size: 100%;
    background-position: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 5.7rem;
    width: 100%;
}

.sign-in{
    display: none;
}

.hambg{
    height: 2rem;
    cursor: pointer;
}

#add-book-container{
    display: none;
    margin: 120px auto;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 65%;
    width: 55%;
    background-color: white;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
}

#submit-book{
    width: 100px;
    height: 38px;
    border: 0;
    border-radius: 5px;
    font-family: Roboto-bold;
    cursor: pointer;
}

input{
    width: 80%;
}

.form-item{
    margin: 0.5rem;
}

.close-form{
    margin: 25px 0 0 10px;
    height: 1rem;
    align-self: flex-start;
    cursor: pointer;
}

.add-book{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.books-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    height: 100%;
    width: 90%;
    margin: 2rem 0 0 0;
}

.book-card{ 
    background: radial-gradient(#60efbc, #58d5c9);
    margin: 1.2rem 0;
    padding: 1.25rem;
    min-width: 9.9rem;
    width: 50%;
    max-width: 14rem;
    min-height: 10.5rem;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
}

.book-card:hover{
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.delete-book{
    height: 1rem;
    cursor: pointer;
}

.mark-read{
    cursor: pointer;
    float: right;
}

.book{
    margin: 1.6rem;
    line-height: 1.3;
    color: white;
    text-align: justify;
}

.add-book-button{
    width: 90%;
    bottom: 0;
    margin: auto 0;
    position: sticky;
    background: radial-gradient(#65edbd, #58d5c9);
    border: 0;
    border-radius: 10px 10px 0 0;
    color: white;
    padding-top: 0.6rem;
    cursor: pointer;
    transition: all 0.3s;
}

.add-book-button:hover{
      box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
      transform: scale(1.01);
}

.add-ico{
    height: 1.2rem;
}

.add-book-txt{
    display: none;
}

.footer{
    background-color: white;
    width: 16rem;
    height: 1.5rem;
    border-radius: 5px;
    text-align: center;
    margin: 0.8rem;
    padding-top: 0.5rem;
}

/* small tablet styles */
@media screen and (min-width: 620px){
    
    .sign-in{
        display: inherit;
    }

    .hambg{
        display: none;
    } 
    
    .book-card{
        margin: 0.7rem;
    }
    
    .add-book-button{
        width: 20%;
    }
    
    .footer{
        padding-bottom: 0.3rem;
    }
    
}

/* large tablet styles */
@media screen and (min-width: 820px){

    .books-container{
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    
    .book-card{
        width: 25%
    }

}


/* desktop styles */
@media screen and (min-width: 1020px){
    .books-container{
        justify-content: space-evenly;
    }
    .add-book-txt{
        display: inherit;
        font-family: Roboto-bold;
    }
    
    .add-book-button{
        margin: auto 1rem;
        padding: 0.6rem 0.5rem 0.5rem 0.5rem;
        border-radius: 10px;
        width: 15%;
        max-width: 10rem;
        bottom: 0.8rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        align-self: flex-end;


    }
}

